/* BUTTONS */

// .modal-content {
.btn.btn-primary {
  color: #096a88;
  background-color: #fffdfb;
  border-radius: 12px;
  border-color: #fff;
  border-style: solid;
  border-width: 0px;
  padding: 0.6rem 1rem;
  font-size: 1.125rem;
  font-style: normal;
  font-family: "Space Mono", monospace;
  font-weight: normal;
  box-shadow: 2px 2px 5px #d3d3d3;
}

.btn.btn-secondary {
  color: #096a88;
  background-color: #fff;
  border-radius: 12px;
  border-color: #fff;
  // border-style: solid;
  border-width: 0px;
  // padding: 0.6rem 4rem;
  text-transform: initial;
  font-family: "Space Mono", monospace;
  // font-weight: bold;
  // min-width: 12rem;
  // line-height: 3rem;
  // font-size: 1.4rem;
  margin-bottom: 0.8rem;
  width: 100%;
  box-shadow: 2px 2px 5px #d3d3d3;
}

.modal-content {
  .btn.btn-primary,
  .btn.btn-secondary {
    width: auto;
    padding: 0.6rem 1rem;
    margin: 0.25rem;
  }
}

button:disabled {
  cursor: not-allowed;
}
