@use "./mixins" as *; /* load without namespace for convenience */

#root {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  font-family: "Space Mono", monospace;
  letter-spacing: 1px;
  background-image: linear-gradient(
    #fdeaba 0%,
    #f4a2a2 15%,
    #f7a196 85%,
    #fdeaba 100%
  );
  color: #497f8f;
}

body {
  margin: 0;
}

header {
  padding: 0 3rem;

  @include size-down-down {
    padding: 0.5rem;
  }
}

main {
  flex: 1 1;
  z-index: 0;
}

.section-wrapper {
  margin: 0 3rem 9rem;

  @include size-down-down {
    margin: 0;
  }
}

// .wrapper-container {
//   background-color: #ffd3e5;
//   border-radius: 0;
//   border: 10px solid #e08b86;
//   margin: 2rem 0;
//   padding: 1rem;
// }

// .content-container {
//   background-color: #ffffff;
//   border-radius: 0;
//   border: 2px solid #e08b86;
// }

.content-wrapper {
  background-color: #fdeeee;
  border-radius: 15px;
  padding: 3rem;

  @include size-down-down {
    padding: 2rem 0.5rem;
  }
}

.dropdown-menu {
  background-color: #fbd9b4;
  border: none;
  border-radius: 0;

  .dropdown-item {
    color: #198ad6;
    // font-family: "Lexend Exa", sans-serif;

    text-decoration: none;
    text-transform: uppercase;
  }
}

.org-proposal-content-title {
  color: #6fa1c2;
}

.org-secondary-alert {
  background-color: #ffffff;
  border-radius: 0;
  border: 2px solid #e08b86;
}

.modal-content {
  .btn.btn-primary,
  .btn.btn-secondary {
    color: #198ad6;
    background-color: #fffdfb;
    border-radius: 0;
    border-color: #198ad6;
    border-style: solid;
    border-width: 2px 2px 6px;
    padding: 0.6rem 1rem;
    font-size: 1.125rem;
    font-style: italic;
    font-family: "Space Mono", monospace;
    font-weight: bold;
  }
}

/* 
- METAMASK SVG FILL STYLES - BEGIN
*/
.st0 {
  fill: #e17726;
  stroke: #e17726;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st1 {
  fill: #e27625;
  stroke: #e27625;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st2 {
  fill: #d5bfb2;
  stroke: #d5bfb2;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st3 {
  fill: #233447;
  stroke: #233447;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st4 {
  fill: #cc6228;
  stroke: #cc6228;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st5 {
  fill: #e27525;
  stroke: #e27525;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st6 {
  fill: #f5841f;
  stroke: #f5841f;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st7 {
  fill: #c0ac9d;
  stroke: #c0ac9d;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st8 {
  fill: #161616;
  stroke: #161616;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st9 {
  fill: #763e1a;
  stroke: #763e1a;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* METAMASK SVG FILL STYLES - END */
