@use "./mixins" as *; /* load without namespace for convenience */

#root {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  font-family: "Space Mono", monospace;
  letter-spacing: 1px;
  background-image: linear-gradient(
    #fdeaba 0%,
    #f4a2a2 15%,
    #f7a196 85%,
    #fdeaba 100%
  );
  color: #497f8f;
}

body {
  margin: 0;
}

header {
  padding: 0 3rem;

  @include size-down-down {
    padding: 0.5rem;
  }
}

main {
  flex: 1 1;
  z-index: 0;
}

.section-wrapper {
  margin: 0 3rem 9rem;

  @include size-down-down {
    margin: 0;
  }
}

// .wrapper-container {
//   background-color: #ffd3e5;
//   border-radius: 0;
//   border: 10px solid #e08b86;
//   margin: 2rem 0;
//   padding: 1rem;
// }

// .content-container {
//   background-color: #ffffff;
//   border-radius: 0;
//   border: 2px solid #e08b86;
// }

.content-wrapper {
  background-color: #fdeeee;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 4px 0 #d3d3d3;

  @include size-down-down {
    padding: 1rem 0.5rem;
  }
}

.dropdown-menu {
  background-color: #fdeeee;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 #d3d3d3;

  .dropdown-item,
  .dropdown-item-text {
    color: #198ad6;
    // font-family: "Lexend Exa", sans-serif;

    text-decoration: none;
    text-transform: initial;
  }
}

.org-proposal-content-title {
  color: #6fa1c2;
}

.org-secondary-alert {
  background-color: #ffffff;
  border-radius: 14px;
  border: none;
  padding: 0.5rem 1rem;
}

.spinner-border-sm {
  position: relative;
  top: -5px;
}

.purchase-addr-container {
  input {
    border-color: #198ad6;
    border-radius: 0;
    border-width: 2px;
    border-top: none;
  }

  .input-group-text {
    border-color: #198ad6;
    background-color: #198ad624;
    border-top: none;
    border-radius: 0;
  }
}

.why-tooltip button {
  font-size: 0.85rem;
  float: right;
  opacity: 0.7;
  cursor: pointer;
  border-bottom: 2px dotted #198ad6;
  // display: -webkit-inline-flex;
  // display: inline-flex;
  margin-top: 0;
  // color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.readmore-ellipsis {
  border-bottom: 2px dotted #198ad6;
  color: #198ad6;
  cursor: pointer;
  font-size: 0.85rem;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.card-deck .card {
  margin-bottom: 1rem;
}

.highlight-container {
  .org-secondary-alert {
    @include size-down-down {
      margin-top: 1rem;
    }
  }
}

/* 
- METAMASK SVG FILL STYLES - BEGIN
*/
.st0 {
  fill: #e17726;
  stroke: #e17726;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st1 {
  fill: #e27625;
  stroke: #e27625;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st2 {
  fill: #d5bfb2;
  stroke: #d5bfb2;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st3 {
  fill: #233447;
  stroke: #233447;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st4 {
  fill: #cc6228;
  stroke: #cc6228;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st5 {
  fill: #e27525;
  stroke: #e27525;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st6 {
  fill: #f5841f;
  stroke: #f5841f;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st7 {
  fill: #c0ac9d;
  stroke: #c0ac9d;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st8 {
  fill: #161616;
  stroke: #161616;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st9 {
  fill: #763e1a;
  stroke: #763e1a;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* METAMASK SVG FILL STYLES - END */
