// .flamingo-navbar-nav {
//   background-color: rgba(245, 161, 159, 0.1);
//   border-radius: 10px;
// }

.flamingo-container {
  .flamingo-logo {
    // color: #f5a19f;
    // font-family: "Space Mono", monospace;
    // text-transform: uppercase;
    // font-weight: 700;
    // text-shadow: 2px 2px 6px #ffe0df;

    color: #fff;
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.105em;
    text-shadow: 2px 2px 6px #f5a19f;
  }

  .flamingo-x-artblocks {
    font-family: "Space Mono", monospace;
  }

  .artblocks-logo {
    position: relative;
    top: -7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}

.flutter-container {
  // text-align: right;
  // padding-right: 5.5rem;

  padding-left: 4rem;

  .flutter-logo {
    font-family: "Major Mono Display", monospace;
    // color: #497f8f;
    font-size: 1.3rem;
  }

  .flutter-by {
    font-style: italic;
    font-size: 0.9rem;
  }
}
