.flamingo-navbar-nav {
  background-color: rgba(245, 161, 159, 0.2);
  border-radius: 10px;
  /* color: #fee2ee; */
}

.flamingo-logo {
  color: #f5a19f;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 700;
  /* text-shadow: 2px 2px 6px #f5a19f; */
  text-shadow: 2px 2px 6px #ffe0df;
}
