@import "./mixins";

.social-media-wrapper {
  z-index: 99;
  position: relative;
  text-align: right;
  margin: 2rem;

  a {
    color: #497f8f;
    margin: 0 0 0 1.2rem;

    &:hover {
      color: #ffffff;
    }
  }
  svg {
    width: 1.2rem;

    @include size-medium-down {
      width: 1.5rem;
    }
  }
}
