.custom {
  width: 78px !important;
}

.live-script-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  text-align: center;
}

.live-script-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;

  /* display: block;
  vertical-align: middle; */
}

.dropdown-menu.show {
  max-height: 50vh;
  overflow: auto;
}

@media only screen and (max-width: 576px) {
  .truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
