.custom {
    width: 78px !important;
}

body {
    padding-top: 65px;
}

.live-script-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.live-script-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}
