h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.view-token h3 {
  font-size: 1.5rem;
}

.purchase-complete,
.project-link,
.total-minted {
  margin-top: 2rem;
}

.purchase-container h1 {
  font-size: 1.75rem;
}

.purchase-container h3 {
  font-size: 1rem;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1;
}

.card-deck .col {
  padding-right: 0;
}
